html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #442ab9;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*:before,
*:after,
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  color: #442ab9;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Typography */
h1,
h2,
h3 {
  font-size: 3.6rem;
  font-weight: 500;
}

p,
.post-content li {
  font-size: 1.6rem;
  line-height: 1.6;
}

small {
  font-size: 1.4rem;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
}

/* Buttons */
.button {
  background-color: #e4f8ee;
  padding: 2rem 3rem;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Containers */
.main {
  flex: 1 1 auto;
}

.container {
  max-width: 92rem;
  margin: 0 auto;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 10;
}

.image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.button-container {
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
}

/* Header */
.page-header {
  width: 100%;
  height: 11rem;
  background-color: #e4f8ee;
  border-top: 0.4rem solid #442ab9;
}

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page-header svg {
  height: 6rem;
  width: 13rem;
}

/* Footer */
.page-footer {
  background-color: #f1f1f1;
  padding: 4rem 0;
  text-align: center;
}

/* Hero */
.hero {
  background-size: cover;
  background-position: center center;
  height: 64.5rem;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero article {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 3rem 3rem 4rem;
  border: 1px solid #442ab9;
}

.hero article:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #442ab9;
  top: 1rem;
  left: 1rem;
  z-index: -1;
}

.hero p {
  font-weight: 600;
}

.hero p:first-child {
  text-transform: uppercase;
}

.hero h1 {
  margin: 1.4rem 0 0.4rem;
}

/* Featured Novel */
.featured-novel {
  text-align: right;
  padding: 10rem 0 5rem;
}

.featured-novel article {
  display: flex;
  align-items: center;
}

.featured-novel .section {
  flex: 1;
}

.featured-novel .section:first-child p {
  margin: 2rem 0;
}

.featured-novel .section:first-child p:first-of-type {
  margin: 0.5rem 0 2rem;
  font-weight: 600;
}

.featured-novel .section:first-child {
  margin-right: 4rem;
}

.featured-novel .image-container {
  max-height: 40rem;
}

/* Featured Posts */
.featured-posts {
  padding: 5rem 0 10rem;
}

.post-tout a {
  display: flex;
  align-items: center;
}

.post-tout + .post-tout {
  margin-top: 6rem;
}

.post-tout .section:first-child {
  margin-right: 4rem;
  flex: 0.75;
}

.post-tout .section:last-child {
  flex: 1.25;
}

.post-tout .section:last-child p:first-of-type {
  margin: 0.5rem 0 2rem;
  font-weight: 600;
}

.post-tout .image-container {
  max-height: 30rem;
}

/* Our Books */
.our-books {
  background-color: #e4f8ee;
  padding: 6rem 0;
  text-align: center;
}

.our-books ul {
  display: flex;
}

.our-books li {
  flex: 1;
}

.author-books {
  padding: 6rem 0;
  text-align: center;
}

.author-books ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.author-books li {
  flex: 0 1 calc(25% - 1.5rem);
  margin-top: 2rem;
}

.author-books li h3:after {
  display: none;
}

.author-books li:nth-child(5n) {
  margin-left: 0;
}

.book-image {
  position: relative;
  height: 0;
  padding-top: 150%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.book-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.book-tout + .book-tout {
  margin-left: 2rem;
}

.book-tout h3 {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 3.5rem;
}

.book-tout h3:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: #442ab9;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

/* All Posts */
.all-posts {
  padding: 6rem 0;
}

/* Pagination */
.pagination {
  padding: 8rem 0 3rem;
  margin: 0 auto;
  text-align: center;
}

.pagination .posts {
  display: flex;
}

.pagination li {
  display: inline-block;
}

.pagination li + li {
  margin-left: 0.2rem;
}

.pagination a {
  width: 48px;
  height: 48px;
  background-color: #e4f8ee;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  transition: all 0.12s ease-in-out;
}

.pagination a:not(.is-disabled):not(.is-current):hover {
  box-shadow: inset 0 0 0 3px #442ab9;
}

.pagination a.is-current {
  border-bottom: 3px solid #442ab9;
}

.pagination a.is-disabled {
  background-color: transparent;
  pointer-events: none;
  opacity: 0.2;
}

/* Individual Posts */
.post,
.book-content,
.author {
  padding: 8rem 0;
  max-width: 70rem;
  margin: 0 auto;
}

.book {
  display: flex;
}

.book-cover {
  max-width: 20rem;
  margin-right: 4rem;
  padding: 8rem 0;
}

.author-link {
  background-color: #442ab9;
  color: #e4f8ee;
  padding: 1rem 1.3rem;
  display: inline-block;
  width: auto;
  line-height: 1;
  font-weight: 600;
  font-size: 2rem;
  margin: 2.5rem 0 1.4rem;
}

.meta {
  text-align: right;
  position: relative;
}

.meta:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  border-top: 1px solid #442ab9;
  border-bottom: 1px solid #442ab9;
}

.meta p {
  background-color: #fff;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.genre {
  font-size: 1.8rem;
}

.post-content {
  padding-top: 8rem;
}

.post-content .oembed {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.post-content .oembed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-content > * + * {
  margin-top: 3rem;
}

.post-content .caption p,
.post-content .credit p {
  font-size: 1.4rem;
}

.post-content .credit {
  font-weight: 600;
  text-align: right;
}

.post-content figure.center img {
  margin: 0 auto;
  display: block;
}

.post-content figure figcaption {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.post-content .pullquote {
  font-size: 2.4rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  width: calc(100% - 1rem);
  margin-top: 8rem;
  margin-bottom: 8rem;
  line-height: 1.4;
}

.post-content .pullquote:before,
.post-content .pullquote:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #442ab9;
  background-color: #fff;
  z-index: -1;
}

.post-content .pullquote:after {
  left: 1rem;
  top: 1rem;
  z-index: -2;
  background-color: #e4f8ee;
}

.post-content .pullquote blockquote {
  padding: 4rem;
  position: relative;
}

.post-content .pullquote blockquote:before,
.post-content .pullquote blockquote:after {
  position: absolute;
  font-size: 10rem;
  line-height: 1;
  font-weight: 300;
}

.post-content .pullquote blockquote:before {
  content: "“";
  top: 0;
  left: -2rem;
}

.post-content .pullquote blockquote:after {
  content: "”";
  bottom: -2rem;
  right: -2rem;
}

.post-content ul {
  padding-left: 2rem;
  list-style: disc;
}

.post-content li {
  margin-top: 0.4rem;
  padding-left: 0.4rem;
}

.post-content hr {
  border: none;
  height: 1px;
  background-color: #442ab9;
}

/* Authors */
.author-wrap {
  display: flex;
}

.author-wrap .post-content {
  margin-left: 7rem;
}

.author-photo {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 10rem;
  overflow: hidden;
  margin-top: 7rem;
}

.author-genre {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}
