{% extends "layouts/default.html" %}

{% block content %}
  <div class="container">
    <article class="post">
      <header class="post-header">
        <h1>{{ post.title }}</h1>
        <a class="author-link" href="{{ post.author | route('authors') }}">{{ post.author.name }}</a>
        <div class="meta">
          <p>{{ post.associatedBook.title }} | {{ post.associatedBook.genre.title | upper }}</p>
        </div>
      </header>
      <div class="content">
        {{ post.bodyHtml | safe }}
      </div>
    </article>
  </div>

  {% include "partials/our-books.html" %}
{% endblock %}
